@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gagalin';
  src: url('./fonts/BebasNeue-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer base {
    :root {
      --padding-inline-desktop: 24px;
      --padding-inline-tablet: 24px;
      --padding-inline-mobile: 24px;
      --content-max-width: 115rem;
      --breakout-max-width: 135rem;
      --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2);
    }
  
    html, body {
      font-family: 'Gagalin', system-ui, sans-serif;
      font-size: 18px;
      letter-spacing: 5px;
      line-height: 24px;
      background-color: #9EC3E6;
      background-image: url('./assets/flowers.png');
      scrollbar-width: thin;
      scrollbar-color: #545D67;
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      overflow: hidden;
      height: 100dvh;
      width: 100dvw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    ::-webkit-scrollbar {
      width: 3px; /* Adjust scrollbar width */
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #545D67;
      border-radius: 0;
    }
    
    ::-webkit-scrollbar-track {
      background: transparent /* Light background for the scrollbar track */
    }
}

@layer components {
    .global-main-grid-layout {
      @apply grid grid-cols-mobile-layout md:grid-cols-tablet-layout xl:grid-cols-desktop-layout;
    }
}
  